.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    padding: 1%;
    background-color: #D08F70;
    width: 90rem;
    height: 5.6875rem;
    flex-shrink: 0;
    font-family: Roca, serif;
}
ul {
    text-align: right;
    width: 50%;
    margin-left: auto;
}
.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    padding: 1%;
}
footer {
    background-color: #373738;
    padding: 2px;

}
footer.ul {
    display: inline-block;
    vertical-align: top;
    padding: 1px;
}