.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    text-align: left;
    width: 2%;
    padding: 1%;
}
#logonav {
    height: 75px;
}
nav {
    width: 73%;
    padding: 1%;
    background-color: #D08F70;
}
ul {
    text-align: right;
    width: 50%;
    margin-left: auto;
}
.heroimg {
    width: auto;
    height: 600px;
    padding: 25px;
}
#mainphoto {
    height: 300px;
}
.content {
    text-align: center;
    background-color: beige;
    width: 500px;
    margin: 0 auto;
    padding: 1%;
}
footer {
    background-color: #373738;
    padding: 2px;
}
footer.ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}